body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-image: url('https://plus.unsplash.com/premium_photo-1663127718472-6d19c42df405?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cGljdHVyZSUyMGdhbWVzfGVufDB8fDB8fHww');
    background-size: cover;
    color: #fff;
    padding: 20px;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #fff; /* Adjust heading color */
}

.instructions-box {
    background-color: rgba(61, 186, 101, 0.8);
    padding: 40px;
    border-radius: 30px;
    margin-bottom: 20px;
    color: #fff; /* Adjust text color */
}

.instructions-box p {
    margin-bottom: 40px;
}

.instructions-box ol {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
}

.instructions-box li {
    font-size: 1.5em; /* Increase font size */
    margin-bottom: 20px; /* Adjust margin */
}

.button-container {
    display: flex;
    gap: 20px;
}

.action-button {
    padding: 15px 30px;
    font-size: 1.5em;
    background-color: #b5319b;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.action-button:hover {
    background-color: #2980b9;
}
/* Default styles */

/* Add your default styles here */

/* Media query for screens smaller than 600px */
@media only screen and (max-width: 600px) {
    /* Adjust styles for smaller screens */

    /* Example: */
    .container {
        padding: 10px;
    }
}

/* Media query for screens between 601px and 1024px */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Adjust styles for medium-sized screens */

    /* Example: */
    .container {
        max-width: 80%;
    }
}

/* Media query for screens larger than 1024px */
@media only screen and (min-width: 1025px) {
    /* Adjust styles for larger screens */

    /* Example: */
    .container {
        max-width: 1200px;
    }
}
